@model IEnumerable<CloudComputingPT.Models.BookingDetails>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Passenger Id
                </th>
                <th>
                    Residing Address
                </th>
                <th>
                    Destination Address
                </th>
                <th>
                    Booking Confirmed ?
                </th>
                <th>
                    Luxury
                </th>
                <th>
                    Economy
                </th>
                <th>
                    Business
                </th>
                <th>
                    Service Acknowledged
                </th>
                <th>
                    Driver Email
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.passengerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.residingAdress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.destinationAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isBookingConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.luxury)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.economy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.business)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcknowledgedService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverDetails)
                </td>
                <td>
                    @if (item.isBookingConfirmed)
                    {
                        <a asp-action="SendEmail" asp-route-id="@item.Id">Send Confirmation</a>
                    }
                    | <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                </td>
            </tr>
            }
        </tbody>
    </table>
 
</body>
</html>
