@model IEnumerable<CloudComputingPT.Models.BookingDetails>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Passenger Id
            </th>
            <th>
                Residing Address
            </th>
            <th>
                Destination Address
            </th>
            <th>
                Booking Confirmed ?
            </th>
            <th>
                Luxury
            </th>
            <th>
                Economy
            </th>
            <th>
               Business
            </th>
            <th>
                Flat Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.passengerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.residingAdress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.destinationAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isBookingConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.luxury)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.economy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.business)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.flatPrice)
                </td>
                <td>
                    <a asp-action="SendEmail">Send Confirmation</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>
</body>
</html>
