@model IEnumerable<CloudComputingPT.Models.DriverService>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of Services</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Driver Id
                </th>
                <th>
                   Luxury
                </th>
                <th>
                    Economy
                </th>
                <th>
                    Business
                </th>
                <th>
                    Capacity
                </th>
                <th>
                    Condition
                </th>
                <th>
                    Registration Plate
                </th>
                <th>
                    Air Condition
                </th>
                <th>
                    Food / Drinks Allowed ?
                </th>
                <th>
                   Picture
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.driverId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.luxury)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.economy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.business)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.condition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.registrationPlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.airCondition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.foodOrDrinks)
                    </td>
                    <td>
                        <img src="@item.Picture" style="width:40px;"/>
                   
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
