@model IEnumerable<CloudComputingPT.Models.BookingDetails>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AvailableServices</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Passenger Id
                </th>
                <th>
                    Residing Address
                </th>
                <th>
                    Destination Address
                </th>
                <th>
                    Booking Confirmed
                </th>
                <th>
                    Luxury
                </th>
                <th>
                    Economy
                </th>
                <th>
                    Business
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.passengerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.residingAdress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.destinationAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isBookingConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.luxury)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.economy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.business)
                    </td>
                    <td>
                        <a asp-action="ReadEmail">Acknowledge Service</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
